

    <form [formGroup]="caracteristiqueForm" (ngSubmit)="saveChanges()">

      <label for="inputTitle">Title :</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="inputTitle"

      />
      <label for="inputSubtitle">Subtitle :</label>
      <input
        formControlName="subtitle"
        type="text"
        class="form-control"
        id="inputsubtitle"
      />

      
      
      <div *ngFor="let contentForm of contentForms; let i = index" [formGroup]="contentForm">
        <label for="title-{{i}}">Titre</label>
        <input id="title-{{i}}" type="text" class="form-control" formControlName="title">
      
        <label for="text-{{i}}">Text</label>
        <input id="text-{{i}}" type="text" class="form-control" formControlName="text">
      </div>

      <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
    </form>

  
