<div class="btn-container">
  <div>
    <button
      class="fa-solid fa-plus"
      routerLink="/add-item/{{ collection.id }}"
    ></button>
  </div>
</div>

<div class="items">
  @for(item of items; track item.id){
  
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://placehold.co/600x400"
      alt="Card image cap"
    />

    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
    </div>
    <button (click)="deleteItem(item.id)">delete</button>
    <button routerLink="/update-item/{{ item.id }}/{{collection.id}}">Modifier</button>
  </div>

  }
</div>

<app-add-item [collectionId]="collection.id" (onAddItem)="submit($event)"></app-add-item>
