<div class="card p-4 shadow-lg">
    <h1 class="text-center mb-4">Modifier catégorie</h1>
    <form [formGroup]="updateCategoryForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputName" class="form-label">Nom : </label>
        <input 
          formControlName="name"
          type="text"
          id="inputName"
          class="form-control"
          placeholder="Nom..."
        >
      </div>
      <button type="submit" class="btn btn-success w-100" [disabled]="updateCategoryForm.invalid">
        Modifier la category
      </button>
    </form>
  </div>