<app-image-upload (imageEvent)="receiveUrl($event)"></app-image-upload>
<form [formGroup]="addCollectionGroup" (ngSubmit)="onSubmit()">
  <label for="inputName">Name</label>
  <input
    formControlName="name"
    type="name"
    class="form-control"
    id="inputName"
    placeholder="name"
  />

  <label for="inputDescription">Description</label>
  <textarea
    formControlName="description"
    class="form-control"
    id="inputDescription"
    placeholder="Description"
  ></textarea>

  
  <button type="submit" class="button-style">Add Collection</button>
</form>

