
<div class="upload-container">
  <h2>Ajouter une image</h2>
  <input type="file" id="fileInput" class="file-input" (change)="onChange($event)" />
  
  <label for="fileInput" class="custom-file-label">
    Choisir une image
  </label>


  <div *ngIf="file" class="file-info ">
    <h3>Détail de l'image:</h3>
    <ul>
      <li><strong>Nom :</strong> {{file.name}}</li>
      <li><strong>Type :</strong> {{file.type}}</li>
      <li><strong>Taille :</strong> {{file.size}} bytes</li>
    </ul>

    <div class="d-flex justify-content-center align-item-center">
    <button class="upload-btn" (click)="onUpload()" [disabled]="status === 'uploading'">
      {{ status === 'uploading' ? 'Uploading...' : 'Upload Image' }}
    </button>
  </div>
  </div>


  <div *ngIf="errorMessage" class="error-message">
    ❌ {{errorMessage}}
  </div>


  <div class="status" [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'" class="uploading">⏳ Transfert ...</p>
    <p *ngSwitchCase="'success'" class="success">✅ Transfert Réussi</p>
    <p *ngSwitchCase="'fail'" class="fail">❌ le transfert a échoué  Merci de réessayer.</p>
    <p *ngSwitchDefault>😶 En attente de transfert...</p>
  </div>
</div>