*{
    background-color: #02182B;
    color: whitesmoke;
}

nav li a{

    text-decoration: none;
}
nav {
    list-style-type: none;
    border-bottom: #FFD700 2px solid;
    position: sticky;
    top: 0;
    z-index: 20;
}
i{
    cursor: pointer;
    font-size: 30px;
    padding: 30px;
}

button{
    border: none;
}

button :hover{
color: #FFD700;
}

.dropdown-menu{
    width: 15vw;
    height: 60vh;
    border-bottom: 3px solid #FFD700;
}
.show{
  display: flex;
  justify-content: center;
}
.dropdown-menu li{
   margin-top: 25px;
}

.dropdown-menu li a{
    font-size: 25px;
    width: 100%;
}
.dropdown-menu li a:hover{
    color: #FFD700;
}

.dropdown{
    margin-right: 7vw;
}

footer{
  border-top: 2px solid #FFD700;
}

footer ul {
    padding-left: 0;
  }
  
  footer a:hover {
    color: #FFD700; 
  }
  
  footer .fab {
    transition: color 0.3s ease;
  }
  
  footer .fab:hover {
    color: #FFD700;
  }

  .body-app{
    min-height: 100vh;
  }

  .profil-btn{
    cursor: pointer;

  }
  .profil-btn :hover{
    cursor: pointer;
    color: #FFD700;
  }