.container{
  height: 80vh;
}
  .btn-group .btn {
    background-color: #112031;
    color: white;
    border-radius: 30px;
    border: none;
    margin-right: 5px;
  }
  
  .btn-group .btn.active {
    background-color: #0C1117;
  }
  
  .checklist-item {
    background-color: #576979;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    width: 100%;
  }
  
  .checklist-item input[type="checkbox"] {
    margin-right: 15px;
  }
  
  .checklist-container {
    max-width: 900px;
    margin: auto;
  }

  .task-list{
    padding: 5%;
  }

  .add-task-form{
    padding: 5%;
  }

  .trash-icon{
    cursor: pointer;
  
  }

  .trash-icon :hover{
    color: #FFD700;
  }

  .card{
    background-color: #02182b;
    color: whitesmoke;
    border-radius: 40px;
    border: 7px solid whitesmoke;
}

.btn-success{
    background-color: #FFD700;
    color: #02182b;
}

.btn-success:hover{
    background-color: #d9b903;
}