
<div class="container my-5">
  
    <div class="row">
 
      <div class="col-lg-4 text-center">
        <img src="https://placehold.co/300x450" alt="Zelda Image" class="img-fluid rounded">
      </div>
  
      <div class="col-lg-8">
        <div>
          <!-- Affichage normal -->
          <div *ngIf="caracteristique">
            <h2>{{ caracteristique?.title }}</h2>
            <hr>
            <h4>{{ caracteristique?.subtitle }}</h4>
          </div>
          <div class="card p-3 bg-light">
            <ul class="list-unstyled" *ngIf="contents && contents.length > 0">
              <li *ngFor="let content of contents">
                <strong>{{ content?.title }}</strong>{{ content?.text }}
              </li>
            </ul>
          </div>
  
        
        
        </div>
  


        <button mat-raised-button (click)="openDialogAddForm()">Ajouter contenu</button>
        <button mat-raised-button (click)="openDialogUpdateForm()">Modifier contenu</button>


      </div>
    </div>
  </div>
  