<div class="btn-container">
  <div>
    <button class="fa-solid fa-plus" routerLink="/add-collection"></button>
  </div>
</div>

<div class="collections">
  @for(collection of collections; track collection.id){

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      [src]="imageUrls[collection.id]"
      alt="Card image cap"
      routerLink="/items/{{ collection.id }}"
    />

    <div class="card-body">
      <h5 class="card-title">{{ collection.name }}</h5>
    </div>
    <button (click)="deleteCollection(collection.id)">delete</button>
    <button
      mat-button
      class="button-style"
      routerLink="/update-collection/{{ collection.id }}"
    >
      Modifier
    </button>
  </div>

  }
</div>
