<div class="card p-4 shadow-lg">
<h1 class="text-center mb-4">Ajouter du contenu</h1>
<form [formGroup]="addContentForm" (ngSubmit)="addNewContent()">
  <div class="mb-3">
    <label for="inputTitle">Titre :</label>
    <input
      formControlName="title"
      type="text"
      class="form-control"
      id="inputName"
  
    />
  
    <label for="inputText">text : </label>
    <textarea
      formControlName="text"
      class="form-control"
      id="inputDescription"
    ></textarea>
  </div>
    <button type="submit" class="button-style btn btn-success w-100">Ajouter un contenu</button>
</form>
</div>