<div class="section-1 container-fluid pt-5">
  <div class="row">
    <div class="p-5 col-lg-6 col-md-12">
      <h2 class="fs-1 pb-4">COLLECTIONNE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra
        justo a eleifend finibus. Nam quis faucibus turpis. Aenean malesuada,
        turpis non viverra dapibus, ex ne que convallis est, eu interdum tortor
        urna a lectus. Aenean et lectus ultrices, luctus nisl eu, commodo
        mauris. Vivamus porttitor malesuada dapibus. Nulla eu dui vel justo
        consequat convallis non sed ex. Curabitur ultricies fermentum metus, non
        posuere felis sollicitudin et. Maecenas commodo turpis vitae sapien
        tempus dignissim. Vestibulum at convallis est. Donec vitae ex at eros
        pretium vulputate. Nulla eu libero sem. Praesent interdum, orci at
        elementum blandit, nisi enim gravida massa, id elementum purus mi at
        neque.
      </p>
    </div>

    <img
      src="https://placehold.co/600x400"
      alt=""
      class="col-lg-6 col-md-12 p-5"
    />
  </div>
</div>

<div class="section-2 container-fluid pt-5">
  <div class="row">
    <img
      src="https://placehold.co/600x400"
      alt=""
      class="col-lg-6 col-md-12 p-5"
    />
    <div class="p-5 col-lg-6 col-md-12">
      <h2 class="fs-1 pb-4">COLLECTIONNE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra
        justo a eleifend finibus. Nam quis faucibus turpis. Aenean malesuada,
        turpis non viverra dapibus, ex ne que convallis est, eu interdum tortor
        urna a lectus. Aenean et lectus ultrices, luctus nisl eu, commodo
        mauris. Vivamus porttitor malesuada dapibus. Nulla eu dui vel justo
        consequat convallis non sed ex. Curabitur ultricies fermentum metus, non
        posuere felis sollicitudin et. Maecenas commodo turpis vitae sapien
        tempus dignissim. Vestibulum at convallis est. Donec vitae ex at eros
        pretium vulputate. Nulla eu libero sem. Praesent interdum, orci at
        elementum blandit, nisi enim gravida massa, id elementum purus mi at
        neque.
      </p>
    </div>
  </div>
</div>

<div class="section-3 container-fluid pt-5">
  <div class="row">
    <div class="p-5 col-lg-6 col-md-12">
      <h2 class="fs-1 pb-4">COLLECTIONNE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra
        justo a eleifend finibus. Nam quis faucibus turpis. Aenean malesuada,
        turpis non viverra dapibus, ex ne que convallis est, eu interdum tortor
        urna a lectus. Aenean et lectus ultrices, luctus nisl eu, commodo
        mauris. Vivamus porttitor malesuada dapibus. Nulla eu dui vel justo
        consequat convallis non sed ex. Curabitur ultricies fermentum metus, non
        posuere felis sollicitudin et. Maecenas commodo turpis vitae sapien
        tempus dignissim. Vestibulum at convallis est. Donec vitae ex at eros
        pretium vulputate. Nulla eu libero sem. Praesent interdum, orci at
        elementum blandit, nisi enim gravida massa, id elementum purus mi at
        neque.
      </p>
    </div>

    <img
      src="https://placehold.co/600x400"
      alt=""
      class="col-lg-6 col-md-12 p-5"
    />
  </div>
</div>
