<div class="section-1 container-fluid pt-5">
  <div class="row">
    <div class="p-5 col-lg-6 col-md-12">
      <h2 class="fs-1 pb-4">Gérez vos collections en toute simplicité</h2>
      <p>
        Bienvenue sur <strong>Collectionne</strong>, la solution idéale pour les passionnés et les collectionneurs de tous types. 
        Que vous soyez un amateur d'art, un fan de timbres, un collectionneur de vinyles ou tout simplement quelqu'un qui aime
        organiser ses objets précieux, notre plateforme vous offre tous les outils nécessaires pour gérer, suivre et enrichir vos collections.
        Avec une interface intuitive et de puissantes fonctionnalités, vous gardez une trace de chaque pièce unique, où que vous soyez.
      </p>
    </div>

    <img
      src="assets/Home1.png"
      alt="Collection image coffre"
      class="col-lg-6 col-md-12 p-5"

    />
  </div>
</div>

<div class="section-2 container-fluid pt-5">
  <div class="row">
    <img
      src="assets/Home2.jpeg"
      alt="Outils de collection"
      class="col-lg-6 col-md-12 p-5"
    />
    <div class="p-5 col-lg-6 col-md-12">
      <h2 class="fs-1 pb-4">Un outil puissant et flexible</h2>
      <p>
        Avec <strong>Collectionne</strong>, organisez vos collections de manière structurée et personnalisée. Ajoutez des photos, 
        des descriptions détaillées, et même des informations spécifiques telles que la provenance, la valeur estimée ou la date d'acquisition. 
        Profitez de notre moteur de recherche avancé pour retrouver n’importe quel objet en un clin d’œil, et classez vos articles selon vos propres critères. 
        Chaque collection est unique, tout comme notre outil, flexible et modulable selon vos besoins.
      </p>
    </div>
  </div>
</div>

<div class="section-3 container-fluid pt-5">
  <div class="row">
    <div class="p-5 col-lg-6 col-md-12">
      <h2 class="fs-1 pb-4">Une communauté de passionnés</h2>
      <p>
        Rejoignez une communauté de collectionneurs passionnés avec <strong>Collectionne</strong>. Partagez vos collections, échangez des conseils, 
        et découvrez des trésors cachés grâce à notre réseau social intégré. Enrichissez vos collections avec l’aide d’autres membres, 
        que ce soit pour des échanges, des ventes, ou simplesment des discussions autour de vos centres d’intérêt communs. Créez votre compte aujourd'hui 
        et faites partie d'une communauté engagée, où la passion pour les objets rares et précieux est au cœur de chaque échange.
      </p>
    </div>

    <img
      src="assets/Home3.jpeg"
      alt="Communauté de collectionneurs"
      class="col-lg-6 col-md-12 p-5"
    />
  </div>
</div>