.card{
    background-color: #02182b;
    color: whitesmoke;
    border-radius: 40px;
    border: 7px solid whitesmoke;
}

.btn-success{
    background-color: #FFD700;
    color: #02182b;
}

.btn-success:hover{
    background-color: #d9b903;
}