<div class="card p-4 shadow-lg" *ngIf="item">
<h1 class="text-center mb-4">Modifier élément</h1>

<form [formGroup]="updateItemForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
  
        <label for="inputName">Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="inputName"
          [placeholder]="item.name"
         
        />
      </div>
        <button type="button" class="btn btn-secondary mb-3" (click)="openImageDialog()">Ajouter une image</button>
        <button type="submit" class="button-style btn btn-success w-100">Modifier élément</button>
    

</form>
</div>